*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.areaprincipal{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    background-size: 100% 100%;
   
}
#encabezado{
    background: #FFA07A;
    height: 240px;
    text-align: center;
    background-image: url(https://i.pinimg.com/474x/53/e5/86/53e5867e69cb9f1a04462aeb2d2fed00.jpg);
    background-repeat: no-repeat;
    background-size: 180px 180px;

}
.piedepagina{
    width: 100%;
    height: 20%;
    background:#15101b;
    color:white;
    bottom:0;
    position: fixed;
    left: 0;
    text-align: center;
}
#menu{
    height: 40px;
    position: relative;
    top: 200px;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333333;
}
li{
    float: left;
    margin-right: 10px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}
#datos{
    width: 80%;
    background-color: #E9967A;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #2a3e55;
    padding: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
